body {
  font-family: "myWebFont";
  text-align: center;
  color: white;
  background-color: black;
}

input {
  font-family: "myWebFont";
}

@font-face {
  font-family: "myWebFont";
  src: url('./fonts/Branda-yolq.ttf');
}
